.grid {
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  margin-top: calc(100px + 2rem);
  max-width: 800px;
  width: 80vw;
}

.pixel {
  cursor: crosshair;
  font-size: 50px;
  user-select: none;
}

.noBorder {
  border: none;
}

.withBorder {
  border: 1px solid black;
}

@media (width < 768px) {
  .grid {
    margin-top: 0;
  }
}