.grid {
  aspect-ratio: var(--grid-size-x) / var(--grid-size-y);
  display: grid;
  grid-template-columns: repeat(var(--grid-size-x), 1fr);
  grid-template-rows: repeat(var(--grid-size-y), 1fr);
  margin-bottom: 1rem;
  margin-top: calc(100px + 3rem);
  max-height: 800px;
  max-width: 800px;
  width: 80vw;
}

.pixel {
  cursor: crosshair;
  user-select: none;
}

.noBorder {
  border: none;
}

.withBorder {
  border: 1px solid black;
}
