.grid {
  aspect-ratio: 1;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  max-width: 800px;
  width: 80vw;
}

.pixel {
  cursor: crosshair;
  user-select: none;
}

.noBorder {
  border: none;
}

.withBorder {
  border: 1px solid black;
}
