* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0 ;
}

body {
  background-image: url('../assets/background.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;
  padding-inline: 2rem;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  min-height: 100vh;
}